<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>WhiteLabel</title>
<%= stylesheet_link_tag    "application" %><%= javascript_include_tag "application" %><%= csrf_meta_tags %>
</head>
<body>
<div id="top_bar"></div>
<%= yield %>

</body>
<p>Registration is the future!</p>
</html><html>
<body>
<p>


Deface::Override.new(:virtual_path =&gt; "posts/_form",
  :name =&gt; "example-1",
  :replace =&gt; "h1") do
   "</p>
<h1>New Post</h1>"
end</body>
<p>Registration is the future!</p>
</html>
