<!DOCTYPE html>
<html>
<head>
  <title>WhiteLabel</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top_bar"></div>
<%= yield %>

</body>
</html>


Deface::Override.new(:virtual_path => "posts/_form",
  :name => "example-1",
  :replace => "h1") do
   "<h1>New Post</h1>"
end